header {
	height: 70vh;
	width: 100%;
	background: center url("bckgrnd1stpage.png");
}

main {
	background: center url("bckgrnd_blurgaussian.png");
}

.pessoascombolinha {
	width: 500px;
	float: right;
}

h3 {
	text-align: center;
	font-size: 1.5em;
	margin: 100px;
}